.signup-page {
  padding-top: 48px;
}

.signup-form .button {
  width: 100%;
}

.signup-profile {
  margin-bottom: 8px;
}

.signup-profile .form-label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
